flask
flask-cors
gradio
openai
requests
cryptography
scapy
sqlalchemy
archive
aiohttp
Pillow
torch
transformers
panel
pika
kafka-python
python-dotenv
pyyaml
scikit-learn
matplotlib
seaborn
plotly
datashader
colorcet
holoviews
bokeh
numpy
pandas
sendgrid
